.body {
    display: flex;
    flex-direction: column;
}

p,
ol,
li,
a,
button {
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo,
ol {
    padding-top: 16px;
    margin: 0;
}

.hero-main-text,
.header-logo,
button {
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
}

.hero-main-text,
.information {
    font-weight: 900;
}

.hero-main-text,
.hero-secondary-text {
    margin: 10px 0;
    padding: 0;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

ol {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

a {
    text-decoration: none;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.header-logo {
    font-size: 24px;
}

button,
.signup-box {
    background-color: #3882F6;
    border-radius: 8px;
}

button {
    text-align: center;
    padding: 8px 24px;
    font-weight: bold;
}

.sign-up-button {
    border: none;
}

.sign-up-button-border {
    border: 1px solid white;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 30px;
}

.hero-right {
    max-width: 300px;
}

img {
    border-radius: 16px;
}

.information {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 40px 0px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0px 100px 75px 100px;
}

.info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.information-image {
    border: 4px solid #3882F6;
}

.info,
.information-image {
    max-width: 130px;
}

.information-subtext {
    color: rgb(61, 61, 61);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* max-width: 100px; */
    font-size: 18px;
}

.quote-area {
    background-color: #E5E7EB;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.quote-author {
    font-weight: bold;
    margin-left: auto;
}

.signup-box {
    margin: 60px 100px;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.signup-left {
    color: white;
}

.signup-call {
    font-weight: bold;
    margin: 0;
}

.signup-call-subtext {
    margin: 0;
}

.signup-right {
    margin-left: auto;
    flex-shrink: 0;
}

.footer {
    text-align: center;
    color: white;
    padding: 20px;
}